-r ./requirements.txt
-r ./requirements_rtfd.txt

codacy-coverage
cryptography
flake8
ipykernel
jupyter_client
# nb_black ## Disabled because of issue with support for Python 2.6
nb_black @ git+https://github.com/leifdenby/nb_black/#egg=nb_black
nbconvert
nbformat
pandas
pre-commit
pydocstyle
pytest>=3.5
pytest-cov
pytest-runner
watchdog
wheel
yapf
