-r ./requirements.txt
-r ./requirements_rtfd.txt

codacy-coverage
cryptography
flake8
ipykernel
jupyter_client
nb_black
nbconvert
nbformat
pandas
pre-commit
pydocstyle
pytest>=3.5
pytest-cov
pytest-runner
rstcheck
watchdog
wheel
yapf
