--index-url https://pypi.python.org/simple/

matplotlib
numba
numpy

# Pinned because of https://github.com/pyexcel/pyexcel-xlsx/issues/52
openpyxl==3.0.10
pandas
pyexcel==0.6.7
pyexcel-xlsx==0.6.0
pykooh
pyrvt
scipy
setuptools
tomli
