-r ./requirements.txt
-r ./requirements_rtfd.txt

codacy-coverage
cryptography
flake8
ipykernel
jupyter_client
nbconvert
nbformat
pandas
pre-commit
pydocstyle
pytest-cov
pytest-runner
pytest>=3.5
rstcheck
watchdog
wheel
yapf
